.c-gallery{
	&__title{
		@include breakpoint(md){
			margin-bottom: 0 !important;
		}
	}
	&__container{
		@include breakpoint (md){
			padding: rem(20);
		}
		&__img{
			flex: 0 0 100%;
			width: 100%;
			@include breakpoint (md){
				flex: 0 0 33%;
				width: 33%;
			}
		}
	}
}