//Colors
// --------------------------
$dark-gray:         									#333333 !default;
$black:              									#0a0a0a !default;
$white:             									#fefefe !default;
$brand-dark-brown:     								#6d5427 !default;
$brand-light-brown:                   #d3b784 !default;
$brand-light-blue:                    #0078ff !default;
$brand-dark-blue:                    	#05519d !default;
$brand-light-yellow:                  #fff2dd !default;
$brand-light-peach:                   #e9dfd7 !default;
$brand-purple-sani:                   #e4eaff !default;
$brand-purple-dark-sani:              #712172 !default;
$brand-green-trip:                    #21874a !default;
$warning:                             #f04124 !default;
$error-color: 												#721c24 !default;

$brand-color:                         $brand-dark-brown !default;