.c-restaurant{
	&__home-box{
		margin-bottom: rem(20);
		@include breakpoint (md){
			margin-bottom: rem(40);
		}
		@include breakpoint (lg){
			margin-bottom: rem(140);
		}
	}
	&__intro{
		margin-bottom: rem(20);
		p{
			margin-right: rem(10);
			display: inline-block;
		}
		.c-content-hacienda__title{
			@include breakpoint (md){
				margin-bottom: rem(30);
			}
		}
		.c-button-general__brown{
			@include breakpoint (md){
				padding: rem(10) rem(50); 
			}
		}
	}
	&__logo{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 30%;
			width: 30%;
		}
	}
	&__info{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 70%;
			width: 70%;
		}
	}
	&__content{
		@include breakpoint (md){
			padding: rem(20);
		}
	}
	&__room-service{
		padding: rem(10);
		font-size: rem(20);
		border: rem(2) solid $brand-light-peach;
		color: $brand-dark-brown;
	}
}