
//Padding
.u-padding{
	&__10{
		@include breakpoint(md){
			padding: rem(10);
		}
	}
}


//Breakpoints Show
.u-show{
	&__small{
		@include breakpoint(sm){
			display: block !important;
		}
		@include breakpoint(md){
			display: none !important;
		}
	}
}

//Breakpoints Hide
.u-hide{
	&__small{
		@include breakpoint(sm){
			display: none !important;
		}
		@include breakpoint(md){
			display: block !important;
		}
	}
}

//Flexbox
.u-flex{
	&__full{
		flex: 0 0 100%;
		width: 100%;
	}
	&__half{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 50%;
			width: 50%;
		}
	}
	&__third{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 33%;
			width: 33%;
		}
	}
	&__22{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 22%;
			width: 22%;
		}
	}
	&__30{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 30%;
			width: 30%;
		}
	}
	&__31{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 31%;
			width: 31%;
		}
	}
	&__70{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 70%;
			width: 70%;
		}
	}
	&__auto{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (lg){
			flex: 0 0 auto;
			width: auto;
		}
	}
}